<fieldset>
    <legend>条件搜索</legend>
    <form action="{:sysuri()}" autocomplete="off" class="layui-form layui-form-pane form-search" method="get" onsubmit="return false">

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">会员搜索</label>
            <label class="layui-input-inline">
                <input class="layui-input" name="user" placeholder="请输入会员搜索" value="{$get.user|default=''}">
            </label>
        </div>

        <div class="layui-form-item layui-hide">
            <label class="layui-form-label">记录状态</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="status">
                    <option value=''>-- 全部 --</option>
                    {foreach ['已禁用', '已启用'] as $k=>$v}
                    {if isset($get.status) and $get.status eq $k.''}
                    <option selected value="{$k}">{$v}</option>
                    {else}
                    <option value="{$k}">{$v}</option>
                    {/if}{/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">创建时间</label>
            <label class="layui-input-inline">
                <input class="layui-input" data-date-range name="create_time" placeholder="请选择创建时间" value="{$get.create_time|default=''}">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        </div>
    </form>
</fieldset>
