{extend name="main"}

{block name="button"}
<!--{if auth("add")}-->
<button class='layui-btn layui-btn-sm layui-btn-primary' data-open='{:url("add")}'>添加商品</button>
<!--{/if}-->

{if isset($type) and $type eq 'index'}
<!--{if auth("remove")}-->
<button class='layui-btn layui-btn-sm layui-btn-primary' data-action='{:url("remove")}' data-rule="code#{code};deleted#1">删除商品</button>
<!--{/if}-->
{else}
<!--{if auth("remove")}-->
<button class='layui-btn layui-btn-sm layui-btn-primary' data-action='{:url("remove")}' data-confirm="确定要恢复这些数据吗？" data-rule="code#{code};deleted#0">恢复商品</button>
<!--{/if}-->
{/if}

<!--{if auth("shop.goods.cate/index")}-->
<button class='layui-btn layui-btn-sm layui-btn-primary' data-modal='{:url("shop.goods.cate/index")}' data-title="分类管理" data-width="920px">分类管理</button>
<!--{/if}-->

<!--{if auth("shop.goods.mark/index")}-->
<button class='layui-btn layui-btn-sm layui-btn-primary' data-modal='{:url("shop.goods.mark/index")}' data-title="标签管理" data-width="920px">标签管理</button>
<!--{/if}-->
{/block}

{block name="content"}
<div class="layui-tab layui-tab-card think-bg-white">
    <ul class="layui-tab-title">
        {foreach ['index'=>'商品管理','recycle'=>'下架商品'] as $k=>$v}
        {if isset($type) and $type eq $k}
        <li class="layui-this" data-open="{:url('index')}?type={$k}">{$v}</li>
        {else}
        <li data-open="{:url('index')}?type={$k}">{$v}</li>
        {/if}{/foreach}
    </ul>
    <div class="layui-tab-content">
        {include file='shop/goods/index_search'}
        <table id="GoodsTable" data-line="2" data-url="{:request()->url()}" data-target-search="form.form-search"></table>
    </div>
</div>
{/block}

{block name='script'}
<script>
    $(function () {
        $('#GoodsTable').layTable({
            even: true, height: 'full', page: false,
            sort: {field: 'sort desc,id', type: 'asc'},
            cols: [[
                {checkbox: true},
                {field: 'sort', title: '排序权重', width: 100, align: 'center', sort: true, templet: '#SortInputTpl'},
                {field: 'cover', title: '商品封面', width: 80, align: 'center', templet: '<div>{{-showTableImage(d.cover,false,"sm")}}</div>'},
                {field: 'name', title: '商品名称', minWidth: 228, templet: "<div>商品名称：{{d.name}}<br>商品编号：<b class='color-blue'>{{d.code}}</b></div>"},
                {field: '', title: '库存统计', templet: "<div>累计库存：{{d.stock_total}}<br>销售库存：{{d.stock_sales}}</div>"},
                {
                    field: '', title: '标签分类', minWidth: 228, templet: function (d) {
                        let tpls = '标签：' + (d.marks.length > 0 ? d.marks.join('、') : '-');
                        return tpls + '<br>分类：' + ((d.cates || {}).names || ['-']).join(' ＞ ');
                    }
                },
                {field: 'status', title: '商品状态', minWidth: 120, align: 'center', templet: '#StatusSwitchTpl'},
                {field: 'create_time', title: '创建时间', minWidth: 170, templet: "<div>更新时间：{{d.update_time}}<br>创建时间：{{d.create_time}}</div>"},
                {toolbar: '#toolbar', title: '操作面板', minWidth: 150, align: 'center', fixed: 'right'},
            ]]
        });

        // 数据状态切换操作
        layui.form.on('switch(StatusSwitch)', function (obj) {
            var data = {code: obj.value, status: obj.elem.checked > 0 ? 1 : 0};
            $.form.load("{:url('state')}", data, 'post', function (ret) {
                if (ret.code < 1) $.msg.error(ret.info, 3, function () {
                    $('#GoodsTable').trigger('reload');
                }); else {
                    $('#GoodsTable').trigger('reload')
                }
                return false;
            }, false);
        });
    });
</script>

<!-- 数据状态切换模板 -->
<script type="text/html" id="StatusSwitchTpl">
    <div class="padding-top-10 block relative"></div>
    <!--{if auth("state")}-->
    <input type="checkbox" value="{{d.code}}" lay-skin="switch" lay-text="已上架|已下架" lay-filter="StatusSwitch" {{-d.status>0?'checked':''}}>
    <!--{else}-->
    {{-d.status ? '<b class="color-green">已上架</b>' : '<b class="color-red">已下架</b>'}}
    <!--{/if}-->
</script>

<!-- 列表排序权重模板 -->
<script type="text/html" id="SortInputTpl">
    <label class="padding-top-5 block relative">
        <input type="number" min="0" data-blur-number="0" data-action-blur="{:sysuri()}" data-value="id#{{d.id}};action#sort;sort#{value}" data-loading="false" value="{{d.sort}}" class="layui-input text-center">
    </label>
</script>

<!-- 操控面板的模板 -->
<script type="text/html" id="toolbar">

    {if $type eq 'index'}

    <!--{if auth('stock')}-->
    <a class="layui-btn layui-btn-sm layui-btn-normal" data-title="商品入库" data-modal='{:url("stock")}?code={{d.code}}'>入 库</a>
    <!--{/if}-->

    <!--{if auth('edit')}-->
    <a class="layui-btn layui-btn-sm" data-open='{:url("edit")}?code={{d.code}}'>编 辑</a>
    <!--{/if}-->

    {else}

    <!--{if auth('edit')}-->
    <a class="layui-btn layui-btn-sm" data-open='{:url("edit")}?code={{d.code}}'>编 辑</a>
    <!--{/if}-->

    <!--{if auth('remove')}-->
    <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要删除此商品吗？" data-action="{:url('remove')}" data-value="code#{{d.code}}">删 除</a>
    <!--{/if}-->
    {/if}
</script>
{/block}