<fieldset>
    <legend>{:lang('条件搜索')}</legend>
    <form action="{:sysuri()}" autocomplete="off" data-table-id="GoodsTableSelect" class="layui-form layui-form-pane form-search" method="get" onsubmit="return false">

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">商品名称</label>
            <label class="layui-input-inline">
                <input class="layui-input" name="name" placeholder="请输入商品名称或编号" value="{$get.name|default=''}">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">创建时间</label>
            <div class="layui-input-inline">
                <input class="layui-input" data-date-range name="create_time" placeholder="请选择创建时间" value="{$get.create_time|default=''}">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        </div>

    </form>
</fieldset>
