<form action="{:sysuri()}" autocomplete="off" class="layui-form layui-form-pane form-search" method="get" onsubmit="return false">

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">用户编号</label>
        <label class="layui-input-inline">
            <input class="layui-input" name="code" placeholder="请输入用户编号" value="{$get.code|default=''}">
        </label>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">绑定手机</label>
        <label class="layui-input-inline">
            <input class="layui-input" name="phone" placeholder="请输入绑定手机" value="{$get.phone|default=''}">
        </label>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">姓名昵称</label>
        <label class="layui-input-inline">
            <input class="layui-input" name="username" placeholder="请输入姓名昵称" value="{$get.username|default=''}">
        </label>
    </div>

    <!--{notempty name='upgrades'}-->
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">用户等级</label>
        <div class="layui-input-inline">
            <select class="layui-select" name="level_code">
                <option value="">-- 全部 --</option>
                {foreach $upgrades as $upgrade}{if input('level_code') eq $upgrade.number.''}
                <option selected value="{$upgrade.number|default=0}">[ VIP{$upgrade.number|default='0'} ] {$upgrade.name|default=''}</option>
                {else}
                <option value="{$upgrade.number|default=0}">[ VIP{$upgrade.number|default='0'} ] {$upgrade.name|default=''}</option>
                {/if}{/foreach}
            </select>
        </div>
    </div>
    <!--{/notempty}-->

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">绑定时间</label>
        <div class="layui-input-inline">
            <input class="layui-input" data-date-range name="create_at" placeholder="请选择绑定时间" value="{$get.create_at|default=''}">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        <button class="layui-btn layui-btn-primary" data-form-export="{:url('index')}?type={$type|default='index'}" type="button">
            <i class="layui-icon layui-icon-export"></i> 导 出
        </button>
    </div>
</form>

<script>
    require(['excel'], function (excel) {
        excel.bind(function (data) {

            // 设置表格内容
            data.forEach(function (item, index) {
                data[index] = [
                    {v: item.unid, t: 'n'},
                    item.user.code || '-',
                    item.user.username || '-',
                    item.user.nickname || '-',
                    item.user.phone || '-',
                    item.user.email || '-',
                    'VIP' + (item.level_code || '0') + ' ' + (item.level_name || ''),
                    item.user.create_time || '',
                ];
            });

            // 设置表头内容
            data.unshift(['ID', '用户编号', '用户姓名', '用户昵称', '绑定手机', '绑定邮箱', '用户等级', '绑定时间']);

            // 自动计算列序
            let lastCol = layui.excel.numToTitle((function (count) {
                for (let idx in data[0]) count++;
                return count;
            })(0));

            // 设置表头样式
            layui.excel.setExportCellStyle(data, 'A1:' + lastCol + '1', {
                s: {
                    font: {sz: 12, bold: true, color: {rgb: "FFFFFF"}, name: '微软雅黑', shadow: true},
                    fill: {bgColor: {indexed: 64}, fgColor: {rgb: "5FB878"}},
                    alignment: {vertical: 'center', horizontal: 'center'}
                }
            });

            // 设置内容样式
            (function (style1, style2) {
                layui.excel.setExportCellStyle(data, 'A2:' + lastCol + data.length, {s: style1}, function (rawCell, newCell, row, config, curRow) {
                    /* 判断并转换单元格数据为对象，以便初始化样式 */
                    typeof rawCell !== 'object' && (rawCell = {v: rawCell});
                    rawCell.s = Object.assign({}, style2, rawCell.s || {});
                    return (curRow % 2 === 0) ? newCell : rawCell;
                });
            })({
                font: {sz: 10, shadow: true, name: '微软雅黑'},
                fill: {bgColor: {indexed: 64}, fgColor: {rgb: "EAEAEA"}},
                alignment: {vertical: 'center', horizontal: 'center'}
            }, {
                font: {sz: 10, shadow: true, name: '微软雅黑'},
                fill: {bgColor: {indexed: 64}, fgColor: {rgb: "FFFFFF"}},
                alignment: {vertical: 'center', horizontal: 'center'}
            });

            // 设置表格行宽高，需要设置最后的行或列宽高，否则部分不生效 ？？？
            let rowsC = {1: 33}, colsC = {A: 60, B: 110, C: 80, E: 80};
            (rowsC[data.length] = 28) && (colsC[lastCol] = 160);
            this.options.extend = {
                '!rows': layui.excel.makeRowConfig(rowsC, 28), // 设置每行高度，默认 33
                '!cols': layui.excel.makeColConfig(colsC, 99), // 设置每行宽度，默认 99
            };

            return data;
        }, '用户账号数据' + layui.util.toDateString(Date.now(), '_yyyyMMdd_HHmmss'));
    });
</script>
