<form action="{:sysuri()}" autocomplete="off" class="layui-form layui-form-pane form-search nowrap" method="get" onsubmit="return false">

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">用户账号</label>
        <label class="layui-input-inline">
            <input class="layui-input" name="user" placeholder="请输入用户账号" value="{$get.user|default=''}">
        </label>
    </div>

    <!--{notempty name='upgrades'}-->
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">用户等级</label>
        <div class="layui-input-inline">
            <select class="layui-select" name="level_code">
                <option value="">-- 全部 --</option>
                {foreach $upgrades as $upgrade}{if input('level_code') eq $upgrade.number.''}
                <option selected value="{$upgrade.number|default=0}">[ VIP{$upgrade.number|default='0'} ] {$upgrade.name|default=''}</option>
                {else}
                <option value="{$upgrade.number|default=0}">[ VIP{$upgrade.number|default='0'} ] {$upgrade.name|default=''}</option>
                {/if}{/foreach}
            </select>
        </div>
    </div>
    <!--{/notempty}-->

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">注册时间</label>
        <div class="layui-input-inline">
            <input class="layui-input" data-date-range name="create_time" placeholder="请选择注册时间" value="{$get.create_time|default=''}">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>