<form action="{:sysuri()}" method="post" data-auto="true" data-table-id="ReplyTable" class="layui-form layui-card">

    <div class="layui-card-body ta-pl-40">

        <fieldset class="layui-form-item">
            <legend class="layui-badge text-left think-bg-violet">用户信息</legend>
            <div class="flex">
                <div class="headimg" style="width:138px;height:138px" data-tips-image data-lazy-src="{$vo.user.headimg|default='__ROOT__/static/theme/img/headimg.png'}"></div>
                <div class="flex-1 ta-ml-15">
                    <label class="layui-form-item relative block">
                        <span class="help-label"><b>用户昵称</b>Nickname</span>
                        <input class="layui-input layui-bg-gray" readonly value="{$vo.user.nickname|default=''}">
                    </label>
                    <label class="relative block">
                        <span class="help-label"><b>用户账号</b>Phone</span>
                        <input class="layui-input layui-bg-gray" readonly value="{$vo.user.phone|default=''}">
                    </label>
                </div>
            </div>
        </fieldset>

        <fieldset class="layui-form-item">
            <legend class="layui-badge text-left think-bg-violet">订单信息</legend>
            <div class="flex">
                <div>
                    <div data-tips-image data-tips-hover data-lazy-src="{$vo.goods.cover|default=''}" class="uploadimage" style="width:60px;height:60px"></div>
                </div>
                <div class="flex-1 ta-ml-5 ta-pl-5">
                    <div class="font-s14 ta-pt-5">{$vo.goods.code|default=''}</div>
                    <div class="font-s12 ta-pt-5">{$vo.goods.name|default=''}</div>
                </div>
                <div class="layui-form-item ta-ml-15">
                    <div class="font-s14">订单号：{$vo.order_no|default=''}</div>
                    <div class="flex">
                        <label class="layui-input-wrap">
                            <span class="layui-input-prefix nowrap">支付</span>
                            <input class="layui-input layui-bg-gray" readonly value="{$vo.orderinfo.amount_real|default=''}"/>
                            <span class="layui-input-suffix">元</span>
                        </label>
                        <label class="layui-input-wrap ta-ml-5">
                            <span class="layui-input-prefix nowrap">余额</span>
                            <input class="layui-input layui-bg-gray" readonly value="{$vo.orderinfo.amount_balance|default=''}"/>
                            <span class="layui-input-suffix">元</span>
                        </label>
                        <label class="layui-input-wrap ta-ml-5">
                            <span class="layui-input-prefix nowrap">积分</span>
                            <input class="layui-input layui-bg-gray" readonly value="{$vo.orderinfo.amount_integral|default=''}"/>
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>


        <fieldset class="layui-form-item">
            <legend class="layui-badge text-left think-bg-violet">评论内容</legend>
            <label class="layui-form-item block relative">
                <span class="help-label label-required-prev"><b>评论分类</b></span>
                <textarea class="layui-textarea" name="content">{$vo.content|default=''}</textarea>
            </label>

            <div class="layui-form-item relative block">
                <span class="help-label"><b>评论图片</b></span>
                {php}$images = join('|',$vo['images']??[]);{/php}
                <div class="layui-textarea help-images">
                    <input type="hidden" name="images" value="{$images}">
                    <script>$('[name=images]').uploadMultipleImage()</script>
                </div>
            </div>

        </fieldset>

        <div class="hr-line-dashed"></div>
        {notempty name = 'vo.id'}<input name='id' type='hidden' value='{$vo.id}'>{/notempty}

        <div class="layui-form-item text-center">
            <button class="layui-btn" type='submit'>保存修改</button>
            <button class="layui-btn layui-btn-danger" data-target-backup type='button'>取消编辑</button>
        </div>
    </div>
</form>