<form action="{:sysuri()}" class="layui-form layui-card" data-auto="true" method="post">
    <div class="layui-card-body padding-left-40">

        <label class="layui-form-item relative block">
            <span class="help-label"><b>商城名称</b>Mall Name</span>
            <input class="layui-input" name="name" placeholder="请输入商城名称" required value='{$vo.name|default=""}'>
            <span class="help-block"><b>必填，</b>请填写商城名称，将会在前端部分页面显示。</span>
        </label>

        <label class="layui-form-item relative block">
            <span class="help-label"><b>移动访问</b>Domain H5</span>
            <input class="layui-input" name="domain" placeholder="请输入移动访问" required value='{$vo.domain|default=""}'>
            <span class="help-block"><b>必填，</b>请填写移动访问，将使用在生成移动端链接使用。</span>
        </label>

        <div class="layui-form-item relative block">
            <span class="help-label label-required-prev"><b>账户余额</b>User Balance</span>
            <div class="layui-textarea help-checks">
                {empty name='vo.enable_balance'}{assign name='vo.enable_balance' value='0'}{/empty}
                {foreach ['禁用账户余额','启用账户余额'] as $k=>$n}
                <label class="think-radio">
                    {if (isset($vo.enable_balance) && $vo.enable_balance eq $k)}
                    <input checked type="radio" name="enable_balance" value="{$k}" lay-ignore> {$n}
                    {else}
                    <input type="radio" name="enable_balance" value="{$k}" lay-ignore> {$n}
                    {/if}
                </label>
                {/foreach}
            </div>
            <span class="help-block"><b>必填，</b>开启账户余额之后，用户会增加余额账户，累积余额并可使用余额抵扣支付。</span>
        </div>

        <div class="layui-form-item relative block">
            <span class="help-label label-required-prev"><b>账户积分</b>User Integral</span>
            <div class="layui-textarea help-checks">
                {empty name='vo.enable_integral'}{assign name='vo.enable_integral' value='0'}{/empty}
                {foreach ['禁用账户积分','启用账户积分'] as $k=>$n}
                <label class="think-radio">
                    {if (isset($vo.enable_integral) && $vo.enable_integral eq $k)}
                    <input checked type="radio" name="enable_integral" value="{$k}" lay-ignore> {$n}
                    {else}
                    <input type="radio" name="enable_integral" value="{$k}" lay-ignore> {$n}
                    {/if}
                </label>
                {/foreach}
            </div>
            <span class="help-block"><b>必填，</b>开启账户积分之后，用户会增加积分账户，累积积分并可使用积分抵扣支付。</span>
        </div>

        <div class="layui-form-item relative block">
            <span class="help-label label-required-prev"><b>下单随减</b>Order Reduction</span>
            <div class="layui-textarea help-checks">
                {empty name='vo.enable_reduct'}{assign name='vo.enable_reduct' value='0'}{/empty}
                {foreach ['禁用下单随减','启用下单随减'] as $k=>$n}
                <label class="think-radio">
                    {if (isset($vo.enable_reduct) && $vo.enable_reduct eq $k)}
                    <input checked type="radio" name="enable_reduct" value="{$k}" lay-ignore> {$n}
                    {else}
                    <input type="radio" name="enable_reduct" value="{$k}" lay-ignore> {$n}
                    {/if}
                </label>
                {/foreach}
            </div>
            <span class="help-block"><b>必填，</b>开启下单随减后，用户每次下单都会随机减免一定金额，最多不会超过订单金额。</span>
            <div class="layui-input layui-bg-gray flex" style="height:auto">
                <div class="padding-right-5">减免金额从</div>
                <div class="layui-input-wrap">
                    <label><input class="layui-input border-0 text-center" data-blur-number="2" min="0" name="reduct_min" value='{$vo.reduct_min|default="0.00"}'></label>
                    <div class="layui-input-suffix">元</div>
                </div>
                <div class="text-center padding-row-10">至</div>
                <div class="layui-input-wrap">
                    <label><input class="layui-input border-0 text-center" data-blur-number="2" min="0" name="reduct_max" value='{$vo.reduct_max|default="0.00"}'></label>
                    <div class="layui-input-suffix">元</div>
                </div>
            </div>
        </div>

    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" data-close type='button' data-confirm="确定要取消编辑吗？">取消编辑</button>
    </div>
</form>