<form action="{:sysuri()}" method="post" data-auto="true" class="layui-form layui-card" data-table-id="DiscountTable">
    <div class="layui-card-body padding-left-40">

        <label class="layui-form-item block relative">
            <span class="help-label"><b>折扣方案名称</b>Name</span>
            <input class="layui-input" name="name" placeholder="请输入折扣方案名称" required value="{$vo.name|default=''}">
        </label>

        <div class="layui-form-item label-required-prev">
            <span class="help-label"><b>用户等级折扣</b>Scheme</span>
            <table class="layui-table" lay-skin="line">
                <thead>
                <tr class="layui-bg-gray">
                    <th class="text-left">用户等级</th>
                    <th class="text-right">市场价比例 ( 0.00% - 100.00% )</th>
                </tr>
                </thead>
                <tbody>
                {foreach $levels as $level}
                <tr>
                    <td class="nowrap sub-span-blue">[ <span>VIP{$level.number|default='0'}</span> ] {$level.name|default=''}</td>
                    <td class="nowrap padding-0">
                        {php} $key = '_level_' . $level['number']; {/php}
                        <label class="layui-input-group pull-right">
                            <input class="layui-input text-center padding-right-0" type="number" step="0.0001" style="width:150px" data-blur-number="4" max="100" min="0" name="_level_{$level.number}" value="{$vo[$key]??'100.0000'}" placeholder="请输入用户等级折扣">
                            <span class="layui-input-suffix">%</span>
                        </label>
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        </div>

        <label class="layui-form-item block relative">
            <span class="help-label"><b>折扣方案备注</b>Remark</span>
            <textarea class="layui-textarea" name="remark" placeholder="请输入折扣方案备注">{$vo.remark|default=''}</textarea>
        </label>

        <div class="hr-line-dashed"></div>
        {notempty name='vo.id'}<input name='id' type='hidden' value='{$vo.id}'>{/notempty}

        <div class="layui-form-item text-center">
            <button class="layui-btn" type='submit'>保存数据</button>
            <button class="layui-btn layui-btn-danger" data-close data-confirm="确定要取消编辑吗？" type='button'>取消编辑</button>
        </div>
    </div>

</form>