{extend name='table'}

{block name="button"}
<!--{if auth('sync')}-->
<!--<a data-table-id="UserTable" class="layui-btn layui-btn-sm layui-btn-primary" data-queue="{:url('sync')}">{:lang('刷新返佣')}</a>-->
<!--{/if}-->

<!--{if auth('config')}-->
<a data-table-id="UserTable" class="layui-btn layui-btn-sm layui-btn-primary" data-open="{:url('config')}">{:lang('返佣配置')}</a>
<!--{/if}-->
{/block}

{block name="content"}
<div class="think-box-notify sub-strong-blue">
    <strong>返佣统计：</strong>累计已产生返佣 <b>{$rebate.0+$rebate.2}</b> 元 ( 含未到账 <b>{$rebate.2|default='0.00'}</b> 元 )，累计已提现 <b>{$total.1|default=0.00}</b> 元。
</div>
<div class="think-box-shadow">
    {include file='user/rebate/index_search'}
    <table id="UserTable" data-line="3" data-url="{:request()->url()}" data-target-search="form.form-search"></table>
</div>

<script>
    $(function () {
        $('#UserTable').layTable({
            even: true, height: 'full',
            sort: {field: 'id', type: 'desc'},
            cellExpandedMode: 'tips',
            cols: [[
                {field: 'id', hide: true},
                {fixed: true, checkbox: true},
                {
                    title: '代理头像', width: 95, align: 'center', templet: function (d) {
                        if (!d.user || !d.user.headimg) return '';
                        return laytpl('<div>{{-showTableImage(d.user.headimg,true,"md")}}</div>').render(d)
                    }
                },
                {
                    title: '代理账号', templet: function (d) {
                        let tpls = [];
                        tpls.push('账号昵称：<b>{{d.user.nickname}}</b>')
                        tpls.push('账号手机：<b class="color-blue">{{d.user.phone}}</b>')
                        tpls.push('账号编号：<b>{{d.user.code}}</b>')
                        return laytpl(tpls.join('<br>')).render(d);
                    }
                },
                {
                    title: '返佣信息', templet: function (d) {
                        let tpls = [];
                        tpls.push('返佣金额：<b class="color-text">{{d.amount}}</b> 元')
                        tpls.push('返佣名称：{{d.name||"-"}}')
                        tpls.push('返佣单号：{{d.code||"-"}}')
                        return laytpl(tpls.join('<br>')).render(d);
                    }
                },
                {
                    title: '会员头像', width: 95, align: 'center', templet: function (d) {
                        if (!d.ouser || !d.ouser.headimg) return '';
                        return laytpl('<div>{{-showTableImage(d.ouser.headimg,true,"md")}}</div>').render(d)
                    }
                },
                {
                    title: '会员账号', templet: function (d) {
                        let tpls = [];
                        tpls.push('账号昵称：<b>{{d.ouser.nickname}}</b>')
                        tpls.push('账号手机：<b class="color-blue">{{d.ouser.phone}}</b>')
                        tpls.push('账号编号：<b>{{d.ouser.code}}</b>')
                        return laytpl(tpls.join('<br>')).render(d);
                    }
                },
                {
                    title: '订单信息', templet: function (d) {
                        let tpls = [];
                        tpls.push('支付金额：<b class="color-text ta-mr-10">{{d.order_amount}}</b> 元')
                        tpls.push('订单单号：{{d.order_no||"-"}}')
                        return laytpl(tpls.join('<br>')).render(d);
                    }
                },
                {
                    title: '返佣时间', templet: function (d) {
                        let tpls = [];
                        tpls.push('返佣类型：{{d.type||"-"}}')
                        tpls.push('返佣时间：{{d.create_time}}')
                        tpls.push('更新时间：{{d.update_time}}')
                        return laytpl(tpls.join('<br>')).render(d);
                    }
                },
            ]]
        });
    });
</script>
{/block}
