{extend name="main"}

{block name="button"}
<!--{if auth('config')}-->
<a class="layui-btn layui-btn-sm layui-btn-primary" data-width="600px" data-modal="{:url('config')}">退货仓库</a>
<!--{/if}-->
{/block}

{block name="content"}
<div class="layui-tab layui-tab-card">
    <ul class="layui-tab-title notselect">
        {foreach ['ta'=>'全部订单','t1'=>'等待发货','t2'=>'已经发货','t3'=>'已经收货'] as $k => $v}
        {if isset($type) and 't'.$type eq $k}
        <li class="layui-this" data-open="{:url('index')}?type={$k}">{$v}<sup class="layui-badge border-radius">{$total[$k]??0}</sup></li>
        {else}
        <li data-open="{:url('index')}?type={$k}">{$v}<sup class="layui-badge border-radius">{$total[$k]??0}</sup></li>
        {/if}{/foreach}
    </ul>
    <div class="layui-tab-content">
        {include file='shop/send/index_search'}
        <table id="OrderTable" data-line="2" data-url="{:request()->url()}" data-target-search="form.form-search"></table>
    </div>
</div>
{/block}


{block name='script'}
<script>
    function str2num(v) {
        return parseFloat(v);
    }

    function str2name(v) {
        let _ = [];
        v.split(';;').forEach(s => _.push(s.split('::').pop()));
        return _.join(' ');
    }

    let tstatus = ['已取消', '待发货', '已发货', '已收货'];
    let tstyles = ['layui-bg-gray layui-border-red', 'layui-bg-black', 'layui-bg-blue', 'layui-bg-green'];
    let ostatus = ['已取消', '预订单', '待支付', '待审核', '待发货', '已发货', '已收货', '已评论']
    let ostyles = ['layui-bg-gray layui-border-red', 'layui-bg-red', 'layui-bg-orange', 'layui-bg-black', 'layui-bg-blue', 'layui-bg-green', 'layui-bg-green'];
    $(function () {
        $('#OrderTable').layTable({
            even: true, height: 'full', sort: {field: 'id', type: 'desc'}, cellExpandedMode: 'tips',
            cols: [[
                {field: 'headimg', title: '头 像', width: 70, align: 'center', templet: '<div>{{-showTableImage(d.user.headimg,true,"sm")}}</div>'},
                {
                    field: 'unid', title: '会员用户', width: 180, templet: function (d) {
                        let tpls = [];
                        tpls.push('{{d.user.nickname||d.user.username||"-"}}');
                        tpls.push('<b class="font-code">{{d.user.phone||d.user.code}}</b>');
                        return laytpl("<div class='nowrap'>" + tpls.join('<br>') + "</div>").render(d);
                    }
                },
                {
                    field: 'order_no', title: '订单信息', minWidth: 250, templet: function (d) {
                        let status = laytpl('<span class="layui-badge layui-badge-middle {{d.style}}" style="zoom:85%;line-height:15px;padding:3px 4px">{{d.status}}</span>').render({
                            status: tstatus[d.status], style: tstyles[d.status]
                        });
                        status += laytpl('<span class="layui-badge layui-badge-middle {{d.style}}" style="zoom:85%;line-height:15px;padding:3px 4px">{{d.status}}</span>').render({
                            status: ostatus[d.main.status], style: ostyles[d.main.status]
                        });
                        let tpls = '订单号 <b class="font-code">{{d.main.order_no}}</b> ';
                        if (d.main.amount_real > 0) {
                            if (d.main.status > 3) {
                                tpls += '<br>已支付 <b class="font-code">{{str2num(d.main.amount_real)}}</b> 元';
                            } else {
                                tpls += '<br>需支付 <b class="font-code">{{str2num(d.main.amount_real)}}</b> 元';
                            }
                        } else {
                            tpls += '<br>无需支付';
                        }
                        if (d.main.amount_express > 0) {
                            tpls += ' ( 随减 <b class="font-code">{{str2num(d.main.amount_reduct)}}</b> 元，含邮费 <b class="font-code">{{str2num(d.main.amount_express)}}</b> 元)';
                        } else {
                            tpls += ' ( 随减 <b class="font-code">{{str2num(d.main.amount_reduct)}}</b> 元，包邮免费 )';
                        }
                        return '<div class="flex">' + status + '<div class="nowrap sub-strong-blue">' + laytpl(tpls).render(d) + '</div></div>';
                    }
                },
                {
                    title: '商品详情', templet: function (d) {
                        let tpls = [];
                        d.main.items.forEach(function (v) {
                            tpls.push(laytpl(
                                '<div class="flex">' +
                                '   <div>{{-showTableImage(d.gcover,false,"sm")}}</div>' +
                                '   <div class="padding-left-5"></div>' +
                                '   <div>' +
                                '       <span class="layui-badge think-bg-gray">{{d.gname}}</span>' +
                                '       <span class="layui-badge think-bg-gray">{{str2name(d.gspec)}}</span><br>' +
                                '       <span class="layui-badge think-bg-gray">{{d.stock_sales}}件 x {{str2num(d.price_selling)}}元/件 = {{str2num(d.total_price_selling)}}元</span> ' +
                                '   </div>' +
                                '</div>'
                            ).render(v));
                        });
                        return tpls.join('<br>');
                    }
                },
                {
                    title: '收货地址', templet: function (d) {
                        let tpls = [];
                        tpls.push('<b>{{d.user_name}}</b> <span class="color-blue font-code margin-left-5">{{d.user_phone}}</span>');
                        tpls.push('{{d.region_prov}} {{d.region_city}} {{d.region_area}} {{d.region_addr}}');
                        return laytpl(tpls.join('<br>')).render(d);
                    }
                },
                {field: 'id', sort: true, title: '创建时间', minWidth: 170, templet: "<div>更新时间：{{d.update_time}}<br>创建时间：{{d.create_time}}</div>"},
                /* {if auth('delivery')} */
                {toolbar: '#toolbar', title: '操作面板', width: 100, align: 'center', fixed: 'right'},
                /* {/if} */
            ]]
        });
    });
</script>

<script type="text/html" id="toolbar">
    <!--{if auth('delivery')}-->
    <a class="layui-btn layui-btn-sm" data-title="发货快递管理" data-modal="{:url('delivery')}" data-value="order_no#{{d.order_no}}">发 货</a>
    <!--{/if}-->
</script>
{/block}

