<!--{literal}-->
<div v-if="idx===-2" class="layui-tab layui-tab-brief">
    <ul class="layui-tab-title notselect">
        <li class="layui-this">底部菜单</li>
        <li>样式设置</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show notselect">
            <div class=" layui-form-item">注意：菜单导航项自定义链接高于页面设计参数。</div>
            <hr>
            <draggable v-model="pages" v-bind="{group:'pages',animation:200}" @start="drag=true" @end="drag=false">
                <transition-group>
                    <div v-for="(x,$index) in pages" :key="x.unid">
                        <div class="flex flex-align-center">
                            <div class="flex-1"><a @click="setPage($index)">编辑页面</a></div>
                            <div class="flex-2">类型：<span class="color-green">{{x.type}}</span></div>
                            <label class="flex-2 think-checkbox text-right" style="margin:0 0 4px">
                                <input type="checkbox" @click="x.show=this.checked=!this.checked" :checked="x.show" lay-ignore> 显示在导航条
                            </label>
                        </div>
                        <div class="flex">
                            <div style="padding-top:3px">
                                <upload-image :mstyle="x.foot.icon" mfield="normal" :showinput="false"></upload-image>
                            </div>
                            <div style="padding:3px 0 0 10px">
                                <upload-image :mstyle="x.foot.icon" mfield="active" :showinput="false"></upload-image>
                            </div>
                            <div class="flex-1">
                                <label class="relative flex">
                                    <span class="design-form-label" style="min-width:3em">名称</span>
                                    <input class="layui-input flex-1" v-model="x.foot.name" placeholder="请输入名称">
                                </label>
                                <label class="relative flex margin-top-5">
                                    <span class="design-form-label" style="min-width:3em">链接</span>
                                    <input class="layui-input flex-1" v-model="x.link.value" placeholder="请输入链接">
                                </label>
                            </div>
                            <div>
                                <a @click="moveUp(pages,$index)" style="margin:0 0 0 5px" class="block layui-btn layui-btn-primary layui-btn-xs"><i style="transform:rotate(090deg)" class="layui-icon inline-block">&#xe65c;</i></a>
                                <a sv-handle style="margin:7px 0 0 5px;cursor:move" class="block layui-btn layui-btn-primary layui-btn-xs layui-border-blue"><i class="layui-icon">&#xe714;</i></a>
                                <a @click="moveDn(pages,$index)" style="margin:7px 0 0 5px" class="block layui-btn layui-btn-primary layui-btn-xs"><i style="transform:rotate(270deg)" class="layui-icon inline-block">&#xe65c;</i></a>
                            </div>
                        </div>
                        <hr>
                    </div>
                </transition-group>
            </draggable>
        </div>
        <div class="layui-tab-item">
            <div class="layui-form-item flex">
                <span class="design-form-label">默认文字</span>
                <div class="flex-1">
                    <color-picker :mstyle="toolbar.style" :key="Math.random()" mfield="vNormalColor"></color-picker>
                </div>
            </div>
            <div class="layui-form-item flex">
                <span class="design-form-label">选中文字</span>
                <div class="flex-1">
                    <color-picker :mstyle="toolbar.style" :key="Math.random()" mfield="vActiveColor"></color-picker>
                </div>
            </div>
            <layout-setting :mstyle="toolbar.style" :key="Math.random()" mtypes="背景颜色,背景图片,背景样式"></layout-setting>
        </div>
    </div>
</div>
<!--{/literal}-->