<!--{literal}-->
<div v-else-if="x.type==='PageCenter'" class="flex-center flex-y layui-border-box">
    <div class="flex-y" style="background:rgb(191, 13, 13);color:white;">
        <div class="flex-x padding-top-20 padding-bottom-20">
            <div class="headimg margin-left-30" style="width:60px;height:60px" data-lazy-src="__ROOT__/static/theme/img/headimg.png"></div>
            <div class="flex-5 margin-left-20">
                <div class="font-s14 font-w7">用户昵称</div>
                <div class="font-s12">绑定手机号</div>
            </div>
            <div>
                <a style="position:absolute;margin-top:-40px;right:20px;color:#fff">
                    <i class="layui-icon layui-icon-set"></i>
                </a>
            </div>
        </div>
        <div class="flex-x padding-top-20 padding-bottom-20">
            <div class="flex-1 flex-y flex-center">
                <b class="font-s16">0.00</b><span>我的余额</span>
            </div>
            <div class="flex-1 flex-y flex-center">
                <b class="font-s16">7895</b><span>当前积分</span>
            </div>
            <div class="flex-1 flex-y flex-center">
                <b class="font-s16">1</b><span>会员等级</span>
            </div>
        </div>
    </div>

    <div class="flex-y padding-20">
        <div style="border:1px solid rgba(0,0,0,0.2);border-radius:5px">
            <div class="padding-left-10 padding-right-10 padding-top-10" style="line-height:3em">
                <b class="font-s14"> 订单中心</b>
                <a class="pull-right">查看部分 <i class="layui-icon layui-icon-next font-s12"></i></a>
            </div>
            <hr style="margin:5px 0">
            <div class="flex-x">
                <div class="flex-1 flex-y flex-center padding-10">
                    <b class="font-s16">1</b><span>待付款</span>
                </div>
                <div class="flex-1 flex-y flex-center padding-10">
                    <b class="font-s16">2</b><span>待发货</span>
                </div>
                <div class="flex-1 flex-y flex-center padding-10">
                    <b class="font-s16">1</b><span>待收货</span>
                </div>
                <div class="flex-1 flex-y flex-center padding-10">
                    <b class="font-s16">0</b><span>待评论</span>
                </div>
                <div class="flex-1 flex-y flex-center padding-10">
                    <b class="font-s16">0</b><span>售后/退款</span>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-y padding-left-20 padding-right-20 padding-bottom-20">
        <div style="border:1px solid rgba(0,0,0,0.2);border-radius:5px">
            <div class="padding-left-10 padding-right-10 padding-top-10" style="line-height:3em">
                <b class="font-s14"> 我的服务</b>
            </div>
            <hr style="margin:5px 0">
            <div class="flex-x">
                <div class="padding-10">我的推广</div>
            </div>
            <hr style="margin:5px 0">
            <div class="flex-x">
                <div class="padding-10">收货地址</div>
            </div>
        </div>
    </div>
</div>
<!--{/literal}-->