<!--{literal}-->
<div v-else-if="x.type==='BaseIcon'" :style="showStyle(x.outerStyle)">
    <div v-if="x.inputStyle.vType===0" class="flex auto-center overauto" :style="showStyle(x.interStyle||{})">
        <div v-for="xx in x.data" :key="xx.unid" class="flex-1 flex flex-direction-column flex-align-center">
            <div :style="showStyle(x.inputStyle||{},showBgimg(xx.image))" class="uploadimage shadow-none"></div>
            <div :style="showStyle(showStyle(x.inputStyle||{},{},'vWidth2'),x.fontStyle||{})" class="layui-elip">{{xx.name}}</div>
        </div>
    </div>
    <div v-if="x.inputStyle.vType===1" class="flex auto-center flex-wrap flex-justify-space-between" :style="showStyle(x.interStyle||{})">
        <div v-for="xx in x.data" :key="xx.unid" class="flex flex-direction-column">
            <div :style="showStyle(x.inputStyle||{},showBgimg(xx.image))" class="uploadimage shadow-none"></div>
            <div :style="showStyle(showStyle(x.inputStyle||{},{},'vWidth2'),x.fontStyle||{})" class="layui-elip">{{xx.name}}</div>
        </div>
    </div>
</div>
<!--{/literal}-->